@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}